i.icon.trash.alternate.outline:before {
    margin-left: 150px;
    margin-right: 5px;
    font-size: 20px;
}

i.icon.save.outline:before {
    margin: 5px;
    font-size: 20px;
}

i.sync.alternate.icon:before {
    margin-left: 470px;
    margin-right: 5px;
    font-size: 20px;
}

.reminderDropDownMenu {
    display: inline;
    margin-left: 200px;
}

.reminderDropDownMenu label {
    margin-right: 5px;
}

.reminderDropDownMenu select {
    width: 120px;
    height: 25px;
    border-radius: 3px;
}

.saveDeleteIcon {
    background-color: #E8E8E8;
    width: 600px;
    margin-left: 10px;
    padding: 8px;
}

.details {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 17px;
    margin-bottom: 40px;
}

.repeatEventName-input {
    border: 1px solid black;
    margin-left: 10px;
    width: 320px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.repeatEventName-input::placeholder {
    padding-left: 15px;
    font-size: 20px;
}

.repeatLocation-input {
    display: block;
    margin-left: 10px;
    width: 320px;
    border: 1px solid #C8C8C8;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.repeatLocation-input::placeholder {
    padding-left: 15px;
}

.repeatStartDateForm {
    float: left;
}


.repeatStartDateDropDownMenu {
    border: 1px solid #C8C8C8;
    height: 25px;
    width: 155px;
    border-radius: 3px;
}

.repeatEndDateForm {
    margin-left: 10px;
    display: inline-block;
}

.endStartTimeIntervals {
    margin-bottom: 20px;
    margin-left: 10px; 
}

.repeatDescriptionTextArea {
    margin-left: 10px;
    border: 1px solid #C8C8C8;
    width: 320px;
    height: 200px;
    border-radius: 4px;
}

.repeatDescriptionTextArea::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.taskRepeat-container{
    float: left;
}

.taskWeeklyRepeat{
    margin-left: 30px;
    display: inline-block;
}

.repeatStartDate-form input{
    border: 1px solid #C8C8C8;
    height: 25px;
    border-radius: 3px;
}

.repeatStartDate-form i{
    margin-left: -25px;
}

.periodDropDownMenu{
    margin-top: 23px;
    height: 30px;
    width: 210px;
    background-color: #D0D0D0;
    margin-bottom: 20px;
}

.monToThurs{
    margin-bottom: 20px;
}

#daysCheckBox{
    margin-left: 15px;
}